body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8m 1.2em;
}

.Title {
    width: 130px;
    margin-top: 5%;
    margin-left: 5%;
    
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 22px;
    margin-top: 25%;
    margin-right: 1em;
}

.logo {
    width: 26%;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}

h1, .sub-head {
    position: relative;
    z-index: 3;
    padding-right: 1em;
    padding-left: 1em;
}

.sub-head {
    font-size: 1.2em;
}

.purple-container-main { 
    width: 100%;
    background: #392861;
    color: white;
    margin: 15% 0 0;
    padding: 3em 0.2em 2em;
    transform: skewY(-2.5deg);
    font-size: 120%;
}

.purple-container-main ul {
    transform: skewY(2.5deg);

} 

.purple-container-main ul li p {
    margin-bottom: 3em;
    padding: 0 3em;

} 

.purple-container-main img {
    width: 14%;
}

.grey-container-main {
    background: #E9E9E9;
    padding: 6em 0 2em;
    margin-top: -3%;
}

.grey-container-main ul li:first-child{
    margin-bottom: 3em;
}

figure {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 1em;
    font-weight: 600;
}

.grey-container-main img {
    width: 70%;
}

.grey-container-main ul li figure h2 {
    color: #392861;
}

h2  {
    margin-top: 7%;
    color:  #392861;
}

.cta {
    background-color: #AE5025;
    width: calc(100% - 3em);
    display: block;
    color: white;
    border-radius: 25px;
    padding: .4em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5% auto 5%;
    z-index: 4;
}

.footer-container { 
    width: 100%;
    background:  #392861;
    color: white;
    padding: 3em 0;
    margin: 15% 0 0;
    transform: skewY(2deg);
}


.footer-container .container {
    transform: skewY(-2deg);
}

.address {
    
}

ul.footer-links {
    margin: 0 auto;
    padding: 1em 0;
}

ul.footer-links li {
    display: inline-block;
    padding: .3em;
}

ul.footer-links li a {
    color: #9d9d9d;
}

ul.terms-of-use li a {
    color: #9d9d9d;
    text-decoration: none;
    padding: 2em 0;
}

